@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: azure;
  font-family: 'Quicksand', sans-serif;
}
.headline {
  text-align: center;
  margin-top: 170px;
  font-size: 40px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
  display: flex;
  width: 400px;
  justify-content: center;
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: azure;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0px;
  width: 100%;
  }
.btn:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  color: azure;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  }
label, input:hover {
  cursor: pointer;
  }